.a__circle {
    background-color: orange;
    width: 500px;
    height: 500px;
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    border: 30px solid red;
    top: 0;
    left: 0;
}

.b__circle {
    background-color: green;
    width: 380px;
    height: 380px;
    z-index: -1;
    position: inherit;
    border-radius: 50%;
    border: 30px solid yellow;
    top: 30px;
    left: 30px;
}
.c__circle {
    background-color: blue;
    width: 250px;
    height: 250px;
    z-index: -1;
    position: inherit;
    border-radius: 50%;
    border: 30px solid #1E90FF;
    top: 35px;
    left: 35px;
}

.d__circle {
    background-color: white;
    width: 150px;
    height: 150px;
    z-index: -1;
    position: inherit;
    border-radius: 50%;
    border: 20px solid purple;
    top: 20px;
    left: 20px;
}

