.header {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    z-index: 100;
}

.nav {
    display: flex;
    width: auto;

    
}
/* Media */

@media screen and (max-width:375px) {
    .nav {
        display: none;
    }
}