.pageChapter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.pageTitle {
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.pageObj{
    font-size: 20px;
    font-weight: 400;
    color: white;
}

@media screen and (max-width:375px) {
   
    .pageTitle {
        font-size: 20px;
    }

    .pageObj {
        font-size: 16px;
    }
}

@media screen and (max-width:290px) {
   
    .pageTitle {
        font-size: 16px;
    }

    .pageObj {
        font-size: 12px;
    }
}