.myBtn {
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color .2s linear;
    background-color: inherit;
    cursor: pointer;
    margin-left: 30px;
}

.myBtn:hover {
    background-color: black;
    color: white;
}

.link {
    margin-left: 30px;
    font-size: 15px;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

@media screen and (max-width:768px) {

    .myBtn {
        margin-left: 10px;
        font-size: 12px;
    }

    .link {
        margin-left: 10px;
        font-size: 12px;
    }
}
