.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userName {
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    font-weight: 700;
    padding-left: 9px;
}

.userSurname {
    margin-bottom: 1px;
    font-size: 18px;
    line-height: 1.2;
    color: black;
    font-weight: 700;
    padding-left: 9px;
}

.userProf {
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 9px;
}