.header {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    background-color: rgba(222, 184, 135, .4);
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    text-align: center;
}

.navbar__link {
    padding: 5px 5px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    color: black;
    text-decoration: none;
    transition: background-color .2s linear;
    background-color: inherit;
    cursor: pointer;
    margin: 5px;
}

.navbar__link:hover {
    background-color: black;
    color: white;
}

/* Media */

@media screen and (max-width:568px) {
   
    .navbar__link {
        font-size: 12px;
    }
}

@media screen and (max-width:450px) {

    .header {
        justify-content: space-around;
    }

    .nav {
        flex-direction: column;
    }
}


