.myInput {
    padding: 5px 5px;
    margin:5px 5px;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
   
}

.myInput:focus {
    outline: none;
    border-color: darkcyan;
    transition: border-color .2s linear;
}

.myInput::placeholder{
    color: black;
}