/* Work */
.work__search__and__sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.work__profession {
    text-align: center;
    font-size: 20px;
    color: black;
}

.work__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0px;
}

.work__item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
}

.work__index {
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
}

.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.work__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
 
.work__description{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: space-between;
    margin: 0 15px;
}

.workCard__photo {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 20px;
    overflow: hidden;
}
.work__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work__btns {
    display: flex;
}

.works__hidden {
    align-self: center;
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    padding: 5px;
    margin: 15px;
    border: 2px solid red;
    color: black;
    border-radius: 20px;
    text-align: center;
}


/* Media */

@media screen and (max-width:960px){
.work__description {
    flex-direction:column;
}

}


@media screen and (max-width:860px) {

    .work__index,
    .work__btns {
        font-size: 12px;
        flex-direction: column;
    }

    .work__title {
        font-size: 14px;
    }

    .work__text {
        font-size: 12px;
    }

}